# paste your local path where to store PostgreSQL
DATABASE_URL="postgresql://postgres:root@localhost:5432/eventer"

# paste your local path where to store PostgreSQL for testing
TEST_DATABASE_URL="postgresql://postgres:root@localhost:5432/eventer_test"

# paste jwt_secret_key for jwt library
JWT_SECRET_KEY="6b18e868ed131511a8477560c856cef94b8abbd9c0b9478820d6e6b58e77b9c3"

# paste secret key for flask config and session security
SECRET_KEY="d5c3e97846e2d5c79cf98fea066f90813f1f1ed5f859ef6c58dd88ef9b6125df"